body {
    background-color: #4d2020;
    max-width: 100%;
    max-height: 1000px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    height: 1000px;
    width: 20%;
    background: linear-gradient(to bottom, #321414, #0000);
}

.menu .logo {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .logo img {
    height: 190px;
    width: 190px;
    border-radius: 100%;
}

.main-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: left;
    height: 100%;
    padding: 0px 0px 0px 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}

.main-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menu-item {
    background: transparent;
    border-radius: 6px;
    transition: 0.9s;
    margin-bottom: 0.1rem;
}

.menu-item:hover {
    background: #de6c6c;
}

.main-menu .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.main-menu .menu-item img {
    height: 30px;
    width: 30px;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: #0000;
    padding-left: 20px;
    padding: 17px 37px 93px 32px;
    width: 100%;
    height: 1000px;
}

.main-content .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 10px;
    margin-bottom: 20px;
    color: #ffffff;
}

.main-content .header h1{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
}

.main-content .header .user-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
}

.main-content .header .user-content img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.main-content .search-bar{
    margin-bottom: 40px;
}

.main-content .search-bar .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.main-content .search-bar .content .input-search{
    border-radius: 7px;
    height: 40px;
    width: 400px;
    font-size: 15px;
    font-family: Arial;
    color: #ffffff;
    background-color: #632a2a;
}

.main-content .search-bar .content .add-pessoa{
    border-radius: 7px;
    height: 46px;
    width: 200px;
    font-weight: bold;    
    font-size: 15px;
    font-family: Arial;
    color: #ffffff;
    background-color: #de6c6c;
}

.main-content .search-bar .content .add-pessoa:hover{
    background-color: #b34f4f;
}

.main-content .columnName{
    background-color: #de6c6c;
    border-radius: 10px;
}

.main-content .tabela .list-of-items .buttons button{
    background-color: #de6c6c;
    border-radius: 7px;
    height: 30px;
    width: 90px;
    font-family: Arial;
    color: #ffffff;
}

.main-content .tabela .list-of-items .buttons button:hover{
    background-color: #b34f4f;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 100;
}

.modal .modal-content {
    background-color: #4e2020;
    margin: 5% auto;
    padding: 20px;
    border: 25px solid #321414;

    text-align: center;
    border-radius: 20px;
    position: relative;

    width: 801px;
    height: 541px;
}

.modal .modal-content .close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
}

.modal .modal-container .modal-content form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.modal .modal-container .modal-content form .title-modal{
    font-size: 30px;
    font-family: Arial;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 15px;
}

.modal .modal-container .modal-content form .inputs{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;
    margin-top: 50px;
}

.modal .modal-container .modal-content form .inputs div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    color: #ffffff;
    padding: 0px 30px 0px 30px;
}

.modal .modal-container .modal-content form .inputs div input{
    width: 600px;
    font-size: 20px;
}

.modal .modal-container .modal-content form .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
    padding: 0px 50px 0px 50px;
}

.modal .modal-container .modal-content form .buttons button{
    border-radius: 7px;
    height: 46px;
    width: 200px;
    font-weight: bold;    
    font-size: 15px;
    font-family: Arial;
    color: #ffffff;
    background-color: #de6c6c;
}

.modal .modal-container .modal-content form .buttons button:hover{
    background-color: #b34f4f;
}

.actions img {
    cursor: pointer;
}
